spring:
  datasource:
    url: jdbc:mysql://localhost:3306/foodstore?createDatabaseIfNotExist=true
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show_sql: true

#server:
#  port: 8085